/* 제목 */
.policy_title {
    width: 100%;
    background: rgba(222, 222, 222, 30%);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.policy_title span {
    font-size: 1.25rem;
}
.policy_title h2 {
    font-size: 1.875rem;
}
/* 신청하기 절차 */
.process_box ul {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
}
.process_box ul li {
    font-weight: 700;
    position: relative; text-align: center;
}
.process_box ul li:nth-child(3) {
    color: #3F77E5; 
}
.process_box ul li:nth-child(1), 
.process_box ul li:nth-child(2) {
    color: #666; 
}
.process_box ul li .stage_path {
    display: flex; align-items: center;
}
.process_box ul li:nth-child(3) .stage_path .path {
    display: block;
    width: 391px;
    height: 2px; 
    background: #3F77E5;
    margin-right: 5px;
}
.process_box ul li:nth-child(1) .stage_path .path,
.process_box ul li:nth-child(2) .stage_path .path {
    display: block;
    width: 391px;
    height: 2px; 
    background: #666;
    margin-right: 5px;
}
.process_box ul li .stage_path .num {
    padding-left: 5px;
}
/* 신청완료 박스 */
.completed_box {
    display: flex; flex-flow: column nowrap;
}
.txt_box {
    width: 1100px; height: 230px; margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #3F77E5;
    border-radius: 15px;
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
}
.completed_box .txt_box p {
    font-size: 1.25rem;
}
.completed_box .to_list {
    width: 250px; margin: 0 auto;
    font-size: 1.125rem; font-weight: 500;
    color: #fff;
    background: #3F77E5;
    padding: 15px 88px;
    border-radius: 10px;
    margin-top: 50px;
}
