@charset "UTF-8";
/* 메인 */
.split50{
	display: flex;
	gap: 40px;
}
.split50 > div{
	width: 50%;
}
.main_pg main{
	width: 100%;
	padding: 140px 0 100px;
	background: url(/user/images/img/main-bg.png) no-repeat 0 0;
}
.main_pg section{
    margin: 0 auto 80px;
}
.main_pg .tit_row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.main_pg h2{
	font-size: 3.2rem;
}
.main_pg .txt{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-height: 2.6em;
    white-space: break-spaces;
}
.main_pg .swiper-btn{
    display: flex;
    align-items: center;
    gap: 26px;
}
.main_pg .swiper-button-prev, .main_pg .swiper-button-next{
	position: relative;
	left: auto;
	right: auto;
	height: 40px;
	margin: auto;
    top: unset;
	color: #555;
}
.main_pg .swiper-button-next:after, .main_pg .swiper-button-prev:after{
	font-size: 16px;
    font-weight: bold;
}
.main_pg section.main_srch{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.main_srch form{
	width: 100%;
}
.main_srch .srch_box{
	display: flex;
	align-items: center;
	gap: 20px;
	width: 70%;
	margin: 0 auto;
}
.main_srch .srch_box div{
	width: 100%;
    height: 100%;
    min-width: 260px;
    padding: 12px 40px;
    border-radius: 30px;
    border: 1px solid #0066B3;
    background: #fff;
    word-break: break-all;
}
.main_srch .srch_txt{
	width: 100%;
	font-size: 2rem;
}
.main_srch input[type="text"]::placeholder, .main_srch input[type="password"]::placeholder{
	font-size: 2rem;
}
.main_srch .srch_btn{
	width: 40px;
	height: 40px;
}
.main_srch .srch_recom{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 70px;
	margin: 14px auto;
}
.main_srch .recom_tit{
	font-weight: 600;
}
.main_srch .recom_list{
	display: flex;
	gap: 42px;
	flex-wrap: wrap;
    height: 20px;
    overflow: hidden;
    font-size: 1.5rem;
}
.main_srch .recom_list a{
	position: relative;
	padding-left: 10px;
	color: var(--color-main);
}
.main_srch .recom_list a::before{
	content: "#";
	display: block;
	position: absolute;
	left: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 20px;
}
.swiper-container{
    width: 100%;
    padding: 2px;
    overflow: hidden;
}
.swiper-slide a{
	display: block;
	width: 100%;
	height: 100%;
}
.main-bn-area{
	position: relative;
	border: 1px solid #ccc;
	border-radius: 0px 0px 30px 30px;
}
.main-bn-area .tabs{
	display: flex;
}
.main-bn-area .tabs li{
	width: 50%;
	line-height: 50px;
	font-size: 2rem;
	font-weight: 600;
	font-family: 'SCoreDream';
	background-color: #eee;
}
.main-bn-area .tabs li.on{
	background-color: #6193df;
}
.main-bn-area .tabs li a{
	display: block;
	text-align: center;
}
.main-bn-area .tabs li.on a{
	color: #fff;
}
.main-bn-area .tab-box{
	display: none;
	padding: 30px 70px 50px;
}
.main-bn-area .tab-box.on{
	display: inherit;
}
.main-bn-area .swiper-slide{
	border-radius: 30px;
	border: 1px solid #bbb;
}
.main-bn-area .policy-bn li{
	aspect-ratio: 1.03/1;
	padding: 30px 20px;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.policy-sort{
	display: inline-block;
	padding: 4px 20px;
	font-weight: 600;
	border-radius: 8px;
	background: #eee;
}
.policy-sort.c1{
	background: #e2edff;
}
.policy-sort.c2{
	background: #ffffcb;
}
.policy-sort.c3{
	background: #ddffd9;
}
.policy-sort.c4{
	background: #ffe7f8;
}
.policy-sort.c5{
	background: #d0fcec;
}
.policy-sort.c6{
	background: #f4e3fe;
}
.policy-sort.c7{
	background: #ffedda;
}
.policy-sort.c8{
	background: #ffdbdb;
}
.main-bn-area .policy-bn .date-area{
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
}.main-bn-area .policy-bn .date-mid{
	font-size: 3rem;
    color: #666;
}
.main-bn-area .policy-bn .date-box{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 2px solid #ddd;
	border-radius: 0px 0px 10px 10px;
}
.main-bn-area .policy-bn .date-box span{
	padding: 6px 10px;
	color: #666;
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
}
.main-bn-area .policy-bn .date-box .top{
	color: #fff;
	font-size: 1.7rem;
	font-weight: 400;
	background: #6f6f6f;
}
.main-bn-area .policy-bn .txt{
	height: 2.6em;
    -webkit-line-clamp: 2;
    margin: 12px 0;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'SCoreDream';
}
.main-bn-area .policy-bn .txt:hover{
	text-decoration: underline;
}
.main-bn-area .policy-bn .btn-box{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.policy-bn .move-btn {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    cursor: pointer;
    color: #19478d;
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    background-color: #fff;
    border: 2px solid #19478d4d;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
    box-shadow: 2px 2px 4px #19478d4d;
}
.move-btn:hover {
    animation: rotate 0.6s ease-in-out both;
}
.move-btn:after {
    background: #e2edff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}
.move-btn:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-1deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(0.5deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
.main-bn-area .inform-bn li{
	aspect-ratio: 1.57/1;
}
.main-bn-area .inform-bn img{
	border-radius: 30px;
}
.main_link{
	padding-top: 60px;
}
.main_link .part1{
	display: block;
	padding: 0 40px 50px;
	background: linear-gradient(90deg, rgba(227, 242, 255, 1), rgba(221, 228, 255, 1));
	border-radius: 30px;
}
.main_link .part1::before{
	content: '';
	display: block;
    width: 501px;
    height: 136px;
    margin: -60px auto 0;
    background: url(/user/images/img/main-nwtxt.png) center center;
    background-size: contain;
}
.main_link .part1 h2{
	margin: 20px 0 10px;
	font-size: 4rem;
}
.main_link .srch_box{
	width: 100%;
	gap: 8px;
}
.main_link .srch_box div {
    padding: 15px 25px;
    border: none;
}
.main_link ul{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.main_link .part1_link{
	margin-top: 68px;
}
.main_link .part1_link li{
	width: 120px;
	height: 120px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.main_link .part1_link li:hover{
	box-shadow: 0 0 16px rgba(48, 109, 238, 0.6);
}
.main_link .part1_link a{
	height: 100%;
	padding: 20px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main_link .part1_link .img{
	width: 54px;
	height: 54px;
}
.main_link .part1_link .txt{
	font-size: 1.5rem;
}
.main_link .part2{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.main_link .part2 ul li{
	width: calc((100% - 20px) / 2);
}
.main_link .part2 h2{
	margin-bottom: 16px;
}
.main_link .part2_link li{
	display: flex;
	padding: 10px 24px;
	background: #fff;
	border: 1px solid #61A1D5;
	border-radius: 30px;
}
.main_link .part2_link a{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.main_link .part2_link .img{
	max-width: 70px;
	height: 45px;
}
.main_link .part2_link .img img{
	object-fit: contain;
}
.main_link .part2_link .txt{
	max-width: calc(100% - 100px);
	font-size: 2rem;
}
	
.main_link .part2_evnt a{
	display: flex;
    flex-direction: column;
}
.main_link .part2_evnt .img{
    height: 130px;
    border: 1px solid #eee;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.main_link .part2_evnt .sort{
    margin: 20px 0 5px;
    color: #666;
    font-size: 1.4rem;
}
.main_link .part2_evnt .txt{
	font-weight: 500;
}
.main_pg .main-ntc{
	margin-bottom: 220px;
}
.main-ntc .img{
	width: 40px;
	height: 40px;
}
.main-ntc .ntc-box li{
	background: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
}
.main-ntc .ntc-box .box-tit{
	display: flex;
    align-items: center;
    gap: 8px;
	padding: 16px 20px;
	color: 3C4466;
	font-size: 2.4rem;
	font-weight: 600;
	border-bottom: 1px solid #eee;
}
.main-ntc .ntc-box .box-tit::before{
	content: '';
	display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/user/images/ico/ico-notice.png) center center;
    background-size: contain;
}
.main-ntc .ntc-box a{
	padding: 24px 30px
}
.main-ntc .ntc-box .tit{
	font-size: 2rem;
	font-weight: 500;
}
.main-ntc .ntc-box .txt{
	height: 2.6em;
    -webkit-line-clamp: 2;
    margin: 6px 0 70px;
}
.main-ntc .ntc-box .date{
	display: block;
}
.main_social_area{
	position: relative;
}
.main_social_area::before{
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
    width: 48%;
    height: 90%;
    border-radius: 0 30px 30px 0;
	background: #2970DB;
}
.main_social_area::after{
	z-index: -2;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
    width: 100%;
    height: 100%;
	background: url(/user/images/img/main-bg2.png) no-repeat 100% 100%;
}

.main_social .part1{
	position: relative;
    padding: 20px 50px 40px 0;
}
.main_social .part1::after{
	z-index: -1;
	content: '';
	position: absolute;
	top: -140px;
	right: -37px;
	display: block;
    width: 372px;
    height: 302px;
	background: url(/user/images/img/main-bg3.png) no-repeat center;
}
.main_social .part1 h2{
	margin-bottom: 14px;
	color: #fff;
	font-size: 3.2rem;
}
.main_social .part1_social{
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.main_social .part1_social li{
	padding: 22px 20px 18px;
	background: #fff;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}
.main_social .part1_social a{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.main_social .part1_social .img{
	height: 32px;
}
.main_social .part1_social .img img{
	object-fit: contain;
}
.main_social .part1_social .txt{
	font-size: 1.5rem;
	font-weight: 500;
}
.main_social .part2{
	position: relative;
    padding: 40px 0 120px 10px;
}
.main_social .tit_row{
	margin-bottom: 30px;
}
.main_social .swiper-btn{
	gap: 18px;
}
.main_social .swiper-button-prev, .main_social .swiper-button-next{
	width: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}
.main_social .part2_social li{
	padding: 20px 16px 26px;
	background: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
}
.main_social .part2_social a{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.main_social .part2_social .tit{
	display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    font-weight: 500;
}
.main_social .part2_social .tit::before{
	content: '';
	display: inline-block;
    width: 42px;
    height: 42px;
	background: url(/user/images/ico/ico-insta.png) no-repeat 100% 100%;
	background-size: contain;
}
.main_social .part2_social .tit.facebook::before{
	background-image: url(/user/images/ico/ico-facebook.png);
}
.main_social .part2_social .tit.blog::before{
	background-image: url(/user/images/ico/ico-nblog.png);
	border: 1px solid #00E56D;
    border-radius: 20%;
}
.main_social .part2_social .txt{
	height: 2.6em;
    -webkit-line-clamp: 2;
    font-size: 1.5rem;
}
.main_social .part2_social .txt::after{
	content: 'more';
	display: inline-block;
	margin-left: 4px;
    color: #666;
	font-size: 13px;
}
.main_social .part2_social .img{
	aspect-ratio: 1 / 1;
	max-height: 270px;
	border: 1px solid #eee;
}
.main_relation{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto !important;
	padding: 30px 100px 30px 60px;
	background: #fff;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.main_relation h2{
	display: flex;
	align-items: center;
	gap: 4px;
    color: #2970DB;
    font-size: 2.4rem;
    
}
.main_relation h2::before{
	content: '';
	display: inline-block;
    width: 24px;
    height: 24px;
	background: url(/user/images/ico/ico-link.png) no-repeat 100% 100%;
	background-size: contain;
}
.main_relation .relation_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 69%;
}
.main_relation .relation_list li{
	height: 35px;
	margin: 5px;
}
.main_relation .relation_list a{
	display: block;
	height: 100%;
}
.main_relation .relation_list img{
	object-fit: contain;
}




    
/* 게시판 목록 */
.total{
    margin-bottom: 12px;
}
.total strong{
    color: var(--color-main2);
    font-weight: bold;
}
.tab_list ul{
    display: flex;
    margin-bottom: 45px;
    width: 100%;
    /* border-left: 1px solid #000; */
    /* border-bottom: 1px solid #000; */
}
.tab_list li{
    border-bottom: 2px solid var(--color-main2);
}
.tab_list .tab_type2 li{
    width: 50%
}
.tab_list .tab_type3 li{
    width: 33.3%
}
.tab_list .tab_type4 li{
    width: 25%
}
.tab_list li.on{
    border: 2px solid var(--color-main2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0;
}
.tab_list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: #757b8b;
}
.tab_list li.on a{
    color: var(--color-main2);
}
.cont_box{
    width: 100%;
    margin-bottom: 40px;
}
.cont_box table{
    margin: 10px auto;
    word-break: break-word !important;
}
table .ico-file{
	width: 25px;
}
/* .cont_box .tab{
    display: none;
}
.cont_box .tab.on{
    display: block;
}
.cont_txt{
    overflow: hidden;
    font-weight: 300;
    line-height: 1.5;
}
.cont_txt p{
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all !important;
    word-wrap: break-word !important;
}
.cont_txt span{
    font-family: 'Noto Sans KR', sans-serif !important;
    word-break: keep-all !important;
    word-wrap: break-word !important;
}
.cont_txt b{
    font-weight: bold;
}
.cont_txt>ul{
    margin-left: 40px;
}
.cont_txt ul li{
    list-style-position: inside;
    text-indent: -10px;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif !important;
}
.cont_txt ul ul li{
    margin-left: 30px;
}
.cont_txt ul ul ul li{
    margin-left: 60px;
}
.cont_txt caption, .consult_main_tb caption, .board_txt.answer caption{
    margin: 10px 0;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: none;
    clip: rect(1px,1px,1px,1px);
}
.cont_txt table th, .cont_txt table td{
    padding: 8px !important;
}
.cont_txt.miw_100 p img{
    width: 100% !important;
    height: auto !important;
} */


/* 게시판상세 */
/* .board{
} */
.board .board_title{
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
.board .board_title h3{
    font-size: 3rem;
    font-weight: bold; 
    margin-left: 20px;
}
.board .board_info{
    display: flex;
    gap: 20px;
    color: #555;
    margin-left: 20px;
}
.board .board_info p{
    position: relative;
}
.board .board_info p::before{
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0,-50%);
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background: var(--color-gray);
}
.board .board_info p:first-of-type:before{
    display: none;
}
.board .board_info span{
    color: #000;
}
.board .file_down{
    position: relative;
    display: flex;
    margin-top: 24px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.board .file_down p{
    font-weight: bold;
    word-break: keep-all;
}
.board .file_down p::after{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    background: var(--color-gray);
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.board .file_down ul{
    margin-left: 40px;
}
.board .file_down a{
    display: flex;
    font-size: 1.5rem;
    word-break: break-all;
}
.board .file_down a::before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: url(/user/images/ico-file.png) center center;
    background-size: cover;
}
.board .file_down a:hover{
	text-decoration: underline;
}
.board .file_down a:not(:first-of-type){
    text-align: left;
}
.board .file_down li + li{
    margin-top: 8px;
}
.board .board_txt{
    padding: 36px 16px 70px;
}
.board .board_txt *{
    font-family: 'Noto Sans KR', sans-serif !important;
    font: revert-layer;
}
.data-move-box {
    margin-bottom: 20px;
    border: 1px solid #000;
    border-width: 1px 0;
}
.data-move {
    padding: 15px;
    display: flex;
    /* flex-wrap: wrap; */
}
.data-move:first-child {
    border-bottom: 1px solid var(--color-gray);
}
.data-move p:first-child {
    margin-right: 80px;
    padding: 5px;
    color: #666;
}
.data-move .d-move {
    width: 81%;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 정책캘린더 */
.policy_calendar{
    display: flex;
    gap: 30px;
}
.policy_calendar .policy_filter{
    width: 300px;
}
.policy_calendar .policy_filter .filter_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #1f6eb7;
    border-radius: 10px;
    padding: 16px 20px;
    color: #fff;
}
.policy_calendar .policy_filter .filter_box p{
    font-weight: bold;
    margin-bottom: 6px;
}
.policy_calendar .policy_filter .filter_box>div{
	gap: 24px;
}
.policy_calendar .policy_filter .filter_box .period_btns button,.policy_calendar .policy_filter .filter_box .recom_btns button{
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
}
.policy_calendar .policy_filter .filter_box .period_btns button.active,.policy_calendar .policy_filter .filter_box .recom_btns button.active{
    background: #fff;
    color: #000;
}
.policy_calendar .policy_filter .filter_box .filter_period{
	margin-bottom: 24px;
}
.policy_calendar .policy_filter .filter_period .period_btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.policy_calendar .policy_filter .filter_period .period_btns button{
    width: 32%;
    padding: 4px 0;
}
.policy_calendar .policy_filter .filter_period .filter_date{
    width: 100%;
    display: none;
    justify-content: space-between;
}
.policy_calendar .policy_filter .filter_period .filter_date.on{
    display: flex;
    animation: filterDateOn;
	animation-duration: 0.2s;
}
@keyframes filterDateOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.policy_calendar .policy_filter .filter_period .filter_date input{
    flex: 1;
    color: #fff;
    background: #5F5F5F;
    border: 0;
    padding: 4px 12px;
}
.policy_calendar .policy_filter .fliter_recom .recom_btns{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.policy_calendar .policy_filter .fliter_recom .recom_btns button{
    padding: 6px 20px;
    border-radius: 30px;
}
.policy_calendar .policy_filter .filter_srch{
    padding: 10px 0;
    margin-top: 20px;
    background: #fff;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}
.policy_calendar .policy_list{
    width: calc(100% - 330px);
}
.policy_calendar .policy_items{
    display: flex;
    flex-wrap: wrap;
}
.policy_calendar .policy_item{
    width: 33.3%;
    height: 350px;
    position: relative;
    padding: 8px 5px;
    border-right: 2px solid #000;
}
.policy_calendar .policy_item:nth-child(3n){
    border-right: 0;
}
.policy_calendar .policy_item:hover a img{
	filter:blur(0);
    opacity: 1;
}
.policy_calendar .policy_item::before{
    content: '';
    display: block;
    background: #000;
    width: calc(100% - 8px);
    height: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.policy_calendar .policy_item::after{
    content: '';
    display: block;
    background: #000;
    width: calc(100% - 8px);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.policy_calendar .policy_item:nth-child(-n+3)::after{
    display: none;
}
.policy_calendar .policy_item a{
    position: relative;
    display: block;
    width: 100%;
    height: 268px;
}
.policy_calendar .policy_item .policy_poster{
    position: absolute;
}
.policy_calendar .policy_item .policy_poster img{
    width: 100%;
    height: 268px;
    opacity: 0;
    object-fit: fill;
	filter:blur(10px);
	opacity:0;
	transition-property:opacity, filter;
    transition-duration: 0.26s;
}
.policy_calendar .policy_item .policy_info{
    padding: 32px 12px 0;
}
/* .policy_calendar .policy_item .policy_info span{
    padding: 2px 8px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}
.policy_calendar .policy_item .policy_info span.blue{
    background: #398BF2;
}
.policy_calendar .policy_item .policy_info span.green{
    background: #97BE00;
}
.policy_calendar .policy_item .policy_info span.orange{
    background: #F29239;
}
.policy_calendar .policy_item .policy_info span.purple{
	background: #8478CA;
} */
.policy_calendar .policy_item .policy_info h4{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 10px;
}
.policy_calendar .policy_item .policy_apply{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 24px 12px;
}
.policy_calendar .policy_item .policy_apply a{
    display: block;
    width: 60px;
    height: 25px;
    padding: 2px 14px;
    color: #fff;
    background: var(--color-main3);   
}
.policy_calendar .policy_item .policy_apply a.disable{
	background: var(--color-gray);
	color: #000;
	pointer-events: none;
}

/* 정책캘린더 상세 */
.board.calendar{
    border-bottom: 1px solid #000;
}
.board.calendar .board_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board.calendar .board_title h3{
    margin-bottom: 8px;
}
.board.calendar .board_title a{
    margin-right: 20px;
}

/* 연간일정 */
.year_calendar .sel{
	margin-top:20px;
}
.year_calendar .calendar{
	width:100%;
	overflow:auto;
	margin-top: 20px;
	padding: 0 0 20px;
	border-top:2px solid #333;
	border-bottom:2px solid #333;
}
.year_calendar .calendar_wrap{
	width:100%;
}
.year_calendar .month{
	width:100%;
	display:flex;
}
.year_calendar .month li{width:calc(100% / 12);
	padding:16px 2px;
	font-weight: 500;
	box-sizing:border-box;
	text-align:center;
}
.year_calendar .plc_wrap{
	display: none;
}
.year_calendar .plc_wrap.on{
	display: block;
}
.year_calendar .plc_list{
	display: flex;
}
.year_calendar .plc_list > div{
	display:inline-block; 
	width:calc(100% / 12); 
	height:80px; 
	line-height:80px; 
	margin:2px; 
	overflow: hidden;
	text-align: center;
	box-sizing:border-box; 
	border-radius:4px; 
	background:#eee;
}
.plc_list.h50 > div{
	height:50px;
 	line-height:50px;
 }
.year_calendar .plc_list .pink{background:#f9e1db;}
.year_calendar .plc_list .orange{background:#ffe9b6;}
.year_calendar .plc_list .yellow{background:#f9f3b7;}
.year_calendar .plc_list .green{background:#ebf6cc;}
.year_calendar .plc_list .blue{background:#d2eff6;}
.year_calendar .plc_list .purple{background:#e4d6f6;}
.year_calendar .plc_list .col2{width:calc((100% / 12) * 2);}
.year_calendar .plc_list .col3{width:calc((100% / 12) * 3);}
.year_calendar .plc_list .col4{width:calc((100% / 12) * 4);}
.year_calendar .plc_list .col5{width:calc((100% / 12) * 5);}
.year_calendar .plc_list .col6{width:calc((100% / 12) * 6);}
.year_calendar .plc_list .col7{width:calc((100% / 12) * 7);}
.year_calendar .plc_list .col8{width:calc((100% / 12) * 8);}
.year_calendar .plc_list .col9{width:calc((100% / 12) * 9);}
.year_calendar .plc_list .col10{width:calc((100% / 12) * 10);}
.year_calendar .plc_list .col11{width:calc((100% / 12) * 11);}
.year_calendar .plc_list .col12{width:100%}
.year_calendar .plc_list a{
	display: flex;
    align-items: center;
    justify-content: center;
	width:100%; 
	height:100%;
	padding: 6px;
 	box-sizing:border-box;
 	font-size:1.5rem;
 	line-height:1.3;
 	letter-spacing:-1.5px;
}
.year_calendar .plc_list a:hover{
	background-color: #485064;
	color: #fff; 
	font-weight: 500;
}
.year_calendar .plc_list a span{
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}
.year_calendar .plc_list.h50 a span{
	-webkit-line-clamp: 1;
}

/* bizRequest_신청하기 */
/* 제목 */
.bizRequest .process_box {width: 1280px;}
.bizRequest .policy_title {
    width: 100%;
    background: rgba(222, 222, 222, 30%);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.bizRequest .policy_title span {
    font-size: 2.0rem;
}
.bizRequest .policy_title h2 {
    font-size: 3.0rem;
}
/* 신청하기 절차 */
.bizRequest .process_box ul {
	width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.bizRequest .process_box ul li {
    font-weight: 700;
    position: relative; text-align: center;
}
.bizRequest .on {
    color:#3F77E5;
}
.bizRequest .line {
    width: 30%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
}
.bizRequest .process_box ul .num {
    padding-top: 30px;
    font-weight: 700;
}
/* 이용약관, 개인정보취급방침 */
.bizRequest .rule_check {
    margin-top: 40px;
}
.bizRequest .terms h2 {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.bizRequest .terms_box {
    height: 250px;
    display: flex; flex-flow: column nowrap;
    border: solid 2px #333;
    border-radius: 15px;
    padding: 50px 130px;
}
.bizRequest .t_box {
    overflow: auto;
    padding: 20px;
    display: flex; flex-flow: column nowrap;
}
.bizRequest .terms .chk_box {
    text-align: right;
    padding-top: 10px;
}
.bizRequest .t_box .txt1 {
    padding-top: 30px;
}
.bizRequest .t_box .txt2 {
    padding: 40px 0; 
}
.bizRequest .t_box .txt3 {
	padding: 40px 0 30px 50px;
}
/* 스크롤바 커스텀 */
.bizRequest .t_box::-webkit-scrollbar {
    width: 10px;
}
.bizRequest .t_box::-webkit-scrollbar-track {
    background: #fff;
}
.bizRequest .t_box::-webkit-scrollbar-button {
    display: none;
}
.bizRequest .t_box::-webkit-scrollbar-thumb { 
    background: #eee;
}
.bizRequest .t_box::-webkit-scrollbar-track,
.bizRequest .t_box::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
.bizRequest .btn {
	text-align: center;
	margin-top: 40px
}
.bizRequest .next_page {
    font-size: 2.0rem;
    font-weight: 700;
    color: #fff;
    background: #3F77E5;
    padding: 17px 117px;
    border-radius: 10px;
}

/* bizRequestForm_신청하기 입력창 */
/* 신청란 입력 */
.bizRequest .information {
    max-width: 980px; margin: 0 auto;
    padding-top: 50px;
}
.bizRequest .essential {
    text-align: right;
    font-size: 1.5rem;
}
.bizRequest .essential em {font-size: 1.5rem; padding-right: 5px;}
em {
    color: #FF8A00; padding-left: 10px;
}
/* 신청자 */
.bizRequest .user_name {
	display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.bizRequest .user_name .title_name {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .user_name .name {
    width: 90%; height: 50px;
    background: #eee;
    padding: 15px;
    font-size: 1.8rem;
}
/* 연령 */
.bizRequest .user_age {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .user_age .title_age {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .user_age .age {
    width: 10%; height: 50px;
    background: #eee;
    padding: 15px;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .txt_age {
    font-size: 2.0rem;
    font-weight: 700;
    padding-left: 10px;
}
/* 성별 */
.bizRequest .user_gender {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .title_gender {
    width: 100px;
    font-size: 2.0rem;; font-weight: 700;
}
.bizRequest .user_gender label {
    font-size: 2.0rem; font-weight: 700;
    padding-left: 10px; 
}
.bizRequest #female {margin-left: 20px;}
/* 생년월일 */
.bizRequest .user_birth {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .title_birth {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .birth {
    width: 26%; height:50px;
    text-align: center;
    padding: 10px;
    font-size: 1.8rem; color:#666;
    background: #eee; border: none;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 연락처 */
.bizRequest .user_tel {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .title_tel {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .tel {
	width: 90%;
    display: flex; justify-content: space-between;
    align-items: center;
}
.bizRequest .tel .num1, 
.bizRequest .tel .num2, 
.bizRequest .tel .num3 {
    width: 29%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .hyphen {
    font-weight: 700;
    text-align: center;
    padding : 0 15px;
}
/* 이메일 */
.bizRequest .user_email {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .title_mail {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .mail_box {
	width: 90%;
    display: flex;
    align-items: center;
}
.bizRequest .domain_txt {
    width: 29%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .user_email .txt {
    font-weight: 700;
    padding: 0 15px;
}
.bizRequest .domain_list {
    width: 29%; height: 50px;
    border: none;
    border-radius: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    background: url(/user/images/ico-arrow-down.png) no-repeat 90% 50% #eee;
    font-family: 'Noto Sans KR', sans-serif;
}
.bizRequest .domain_list option {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 주소 */
.bizRequest .user_address {
    padding-bottom: 30px;
}
.bizRequest .address_title {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .post_address {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 30px;
}
.bizRequest .post_address .postcode {
    width: 26%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .post_address .postcode::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .address_btn {
    width: 26%; height: 50px;
    font-size: 1.8rem; font-weight: 400;
    color: #fff;
    background: #3F77E5;
    border-radius: 10px; border: none;
    margin-left: 20px;
    cursor: pointer;
}
.bizRequest .detail_address {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 100px;
}
.bizRequest .detail_address .detail::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .detail_address .road_address {
    width: 50%; height: 50px;
    background: #eee;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .detail_address .road_address::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .detail_address .detail {
    width: 50%; height: 50px;
    background: #eee;
    margin-left: 30px;
    font-size: 1.8rem;
    text-align: center;
}
/* 파일 업로드 */
.bizRequest .file_upload {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.bizRequest .file_upload span {
    width: 100px; height:50px;
    font-size: 2.0rem; font-weight: 700;
}
.bizRequest .file_upload .upload_name {
    width: 60%; height: 50px;
    background: #eee;
    font-size: 1.8rem;
    text-align: center;
}
.bizRequest .file_upload label {
    width: 28%;
    font-size: 1.8rem; color: #fff;
    background: #3F77E5;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.bizRequest .apply_box {
    text-align: center;
    margin-bottom: 50px;
}
.bizRequest .apply_box .apply_detail {
    width: 100%; height: 250px;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.bizRequest .apply_box .apply_detail::placeholder {
    font-size: 2.0rem;
}
.bizRequest .save {text-align: center;}
.bizRequest .save .save_contents {
    font-size: 1.8rem; font-weight: 500;
    color: #fff;
    background: #3F77E5;
    padding: 15px 106px;
    border-radius: 10px;
}

/* bizRequestCompleted_신청하기완료 */

/* 신청완료 박스 */
.bizRequest .completed_box {
    display: flex; flex-flow: column nowrap;
}
.bizRequest .txt_box {
    width: 90%; height: 230px; margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #3F77E5;
    border-radius: 15px;
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
}
.bizRequest .completed_box .txt_box p {
    font-size: 2.0rem;
}
.bizRequest .completed_box .to_list {
    margin: 0 auto;
    font-size: 2.0rem; font-weight: 500;
    color: #fff;
    background: #3F77E5;
    padding: 15px 88px;
    border-radius: 10px;
    margin-top: 50px;
}

/* suggestionYouth_게시판 및 제안하기 */

/* 슬로건 */
.suggestion .slogan {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    padding:0 40px 50px 40px;
}
.suggestion .slogan img {
    width: 440px;
}
.suggestion .slogan .to_suggest {
    width: 17%;
    font-size: 2.0rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    background: #3F77E5;
    border-radius: 10px;
    text-align: center;
}
.suggestion .center {
	display: flex; justify-content: center;
}
/* 신청하기 절차 */
.suggestion .process_box {width: 1280px;}
.suggestion .policy_title {
    width: 100%;
    background: rgba(222, 222, 222, 30%);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.suggestion .policy_title span {
    font-size: 2.0rem;
}
.suggestion .policy_title h2 {
    font-size: 3.0rem;
}
.suggestion .process_box ul {
	width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.suggestion .process_box ul li {
    font-weight: 700;
    position: relative; text-align: center;
}
.suggestion .on {
    color:#3F77E5;
}
.suggestion .line {
    width: 30%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
}
.suggestion .process_box ul .num {
    padding-top: 30px;
    font-weight: 700;
}
/* suggestionTerms_약관동의 */

/* 이용약관, 개인정보취급방침 */
.suggestion .rule_check {
    margin-top: 40px;
}
.suggestion .terms h2 {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.suggestion .terms_box {
    height: 250px;
    display: flex; flex-flow: column nowrap;
    border: solid 2px #333;
    border-radius: 15px;
    padding: 50px 130px;
}
.suggestion .t_box {
    overflow: auto;
    padding: 20px;
    display: flex; flex-flow: column nowrap;
}
.suggestion .terms .chk_box {
    text-align: right;
    padding-top: 10px;
}
.suggestion .t_box .txt1 {
    padding-top: 30px;
}
.suggestion .t_box .txt2 {
    padding: 40px 0; 
}
.suggestion .t_box .txt3 {
	padding: 40px 0 30px 50px;
}
/* 스크롤바 커스텀 */
.suggestion .t_box::-webkit-scrollbar {
    width: 10px;
}
.suggestion .t_box::-webkit-scrollbar-track {
    background: #fff;
}
.suggestion .t_box::-webkit-scrollbar-button {
    display: none;
}
.suggestion .t_box::-webkit-scrollbar-thumb { 
    background: #eee;
}
.suggestion .t_box::-webkit-scrollbar-track,
.suggestion .t_box::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
.suggestion .btn {
	text-align: center;
	margin-top: 40px
}
.suggestion .next_page {
    font-size: 2.0rem;
    font-weight: 700;
    color: #fff;
    background: #3F77E5;
    padding: 17px 117px;
    border-radius: 10px;
}

/* suggestionYouth_제안하기 입력창 */

/* 신청란 입력 */
.suggestion .information {
    max-width: 980px; margin: 0 auto;
    padding-top: 50px;
}
.suggestion .essential {
    text-align: right;
    font-size: 1.5rem;
}
.suggestion .essential em {font-size: 1.5rem; padding-right: 5px;}
em {
    color: #FF8A00; padding-left: 10px;
}
/* 제안자 */
.suggestion .user_name {
	display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.suggestion .user_name .title_name {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.suggestion .user_name .name {
    width: 90%; height: 50px;
    background: #eee;
    padding: 15px;
    font-size: 1.8rem;
}
/* 연락처 */
.suggestion .user_tel {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.suggestion .title_tel {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.suggestion .tel {
	width: 90%;
    display: flex; justify-content: space-between;
    align-items: center;
}
.suggestion .tel .num1, 
.suggestion .tel .num2, 
.suggestion .tel .num3 {
    width: 29%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .hyphen {
    font-weight: 700;
    text-align: center;
    padding : 0 15px;
}
/* 이메일 */
.suggestion .user_email {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.suggestion .title_mail {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.suggestion .mail_box {
	width: 90%;
    display: flex;
    align-items: center;
}
.suggestion .domain_txt {
    width: 29%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .user_email .txt {
    font-weight: 700;
    padding: 0 15px;
}
.suggestion .domain_list {
    width: 29%; height: 50px;
    border: none;
    border-radius: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    background: url(/user/images/ico-arrow-down.png) no-repeat 90% 50% #eee;
    font-family: 'Noto Sans KR', sans-serif;
}
.suggestion .domain_list option {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 성별 */
.suggestion .user_gender {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.suggestion .title_gender {
    width: 100px;
    font-size: 2.0rem;; font-weight: 700;
}
.suggestion .user_gender label {
    font-size: 2.0rem; font-weight: 700;
    padding-left: 10px; 
}
.suggestion #female {margin-left: 20px;}
/* 생년월일 */
.suggestion .user_birth {
    display: flex; align-items: center;
    padding-bottom: 30px;
}
.suggestion .title_birth {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.suggestion .birth {
    width: 26%; height:50px;
    text-align: center;
    padding: 10px;
    font-size: 1.8rem; color:#666;
    background: #eee; border: none;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 주소 */
.suggestion .user_address {
    padding-bottom: 30px;
}
.suggestion .address_title {
    width: 100px;
    font-size: 2.0rem; font-weight: 700;
}
.suggestion .post_address {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 30px;
}
.suggestion .post_address .postcode {
    width: 26%; height: 50px;
    background: #eee;
    border: none;
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .post_address .postcode::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .address_btn {
    width: 26%; height: 50px;
    font-size: 1.8rem; font-weight: 400;
    color: #fff;
    background: #3F77E5;
    border-radius: 10px; border: none;
    margin-left: 20px;
    cursor: pointer;
}
.suggestion .detail_address {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 100px;
}
.suggestion .detail_address .detail::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .detail_address .road_address {
    width: 50%; height: 50px;
    background: #eee;
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .detail_address .road_address::placeholder {
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .detail_address .detail {
    width: 50%; height: 50px;
    background: #eee;
    margin-left: 30px;
    font-size: 1.8rem;
    text-align: center;
}
.suggestion .apply_box {
    text-align: center;
    margin-bottom: 50px;
}
.suggestion .apply_box .apply_detail {
    width: 100%; height: 250px;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.suggestion .apply_box .apply_detail::placeholder {
    font-size: 2.0rem;
}
.attention {
    font-size: 1.5rem; text-align: right; 
}
.suggestion .save {text-align: center;}
.suggestion .save .save_contents {
    font-size: 1.8rem; font-weight: 500;
    color: #fff;
    background: #3F77E5;
    padding: 15px 106px;
    border-radius: 10px;
}

/* suggestionCompleted_신청하기 완료 */

/* 신청완료 박스 */
.suggestion .completed_box {
    display: flex; flex-flow: column nowrap;
}
.suggestion .txt_box {
    width: 90%; margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #3F77E5;
    border-radius: 15px;
    padding: 140px 0;
    display: flex; flex-flow: column nowrap;
    text-align: center;
}
.suggestion .completed_box .txt_box .join_completed {
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 60px;
}
.suggestion .completed_box .txt_box .info {
    font-size: 1.8rem;
}
.suggestion .completed_box .to_list {
    margin: 0 auto;
    font-size: 2.0rem; font-weight: 500;
    color: #fff;
    background: #3F77E5;
    padding: 15px 88px;
    border-radius: 10px;
    margin-top: 50px;
}

/* 청년참여공간 */

.participation_Space {
    width: 100%;
    display: flex; flex-flow: row nowrap;
}
.participation_Space ul {
    width: 400px;
    padding-right: 20px;
}
.participation_Space ul li {
    border: 3px solid #2970DB;
    border-radius: 10px;
    margin-bottom: 10px;
}
.participation .t_tab {
    display: flex; flex-flow: column nowrap;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}
/* .show 활성화 */
.participation .participation_Space .show {
    display: flex;
}
.participation .participation_Space .t_tab .show {
    display: block;
}

.participation .t_tab .tit {
    font-size: 2.0rem;
    font-weight: 700;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
.participation .t_tab .type {
    font-size: 1.5rem;
    font-weight: 400;
    display: none;
}
.participation .detail_box {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px 40px;
}
.participation .c_detail {
    display: flex; flex-flow: column nowrap;
    overflow: hidden;
    cursor: pointer;
    max-height: 400px;
    overflow: auto;
    display: none;
}

.participation .tab_content {
    width: calc(100% - 400px);
}
.participation .placeSel {
    border: 3px solid #053276;
    border-radius: 10px;
    margin-bottom: 10px;
}
.participation .tab_content {
    display: flex; flex-flow: column nowrap;
}
.participation .location {
    padding-bottom: 20px;
    border-radius: 10px;
}
.participation .location .map img {
    width: 100%;
}
.participation .place_img {
    width: 69%; height: 100%;
}
.participation .place_img img {
    border-radius: 15px;
}
.participation .tab_content .location_place {
    display: flex; flex-flow: row nowrap;
    padding: 15px;
    border: 3px solid #eee;
    border-radius: 15px;
}
.participation .place_detail {
    width: 100%;
    display: flex; flex-flow: column nowrap;
    padding-left: 20px;
}
.participation .place_detail h2 {
    font-size: 2.0rem;
    color: #2970DB; font-weight: 700;
    padding: 10px 0;
}
.participation .place_detail .tag_search {
    font-size: 1.6rem; font-weight: 500;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.participation .place_info {
    width: 100%;
    display: flex; flex-flow: column nowrap;
}
.participation .address {
    display: flex; align-items: center;
}
.participation .address img {
    width: 15px; height: auto; margin-right: 5px;
}
.participation .phone {
    display: flex; align-items: center;
    padding: 6px 0;
}
.participation .phone img {
    width: 15px; height: auto; margin-right: 5px;
}
.participation .page_sr {
    max-height: 3em;
    line-height: 1.5;
    overflow: auto;
}
.participation .blog {
    display: flex; align-items: center;
    text-decoration: underline;
}
.participation .blog img {
    width: 15px; height: auto; margin-right: 5px;
}
.participation .place_btn {
    text-align: right;
    margin-top: 30px;
    display: none;
}
.participation .place_go {
    width: 235px;
    font-size: 1.8rem;
    color: #fff; font-weight: 600;
    padding: 12px 30px;
    background: #053276;
    border-radius: 10px;
}

/* 메뉴 호버 */
.participation .detail_box:hover {
    transition: 0.3s;
    color: #fff;
    background: #2970DB;
}

.participation .place:hover {
    transition: 0.3s;
    color: #fff;
    background: #053276;
}
.participation .place_go:hover {
    transition: 0.3s;
    color: #053276;
    background: #fff;
    border: 1px solid #053276;
}

/* 스크롤바 커스텀 */
.participation .c_detail::-webkit-scrollbar {
    width: 10px;
}
.participation .c_detail::-webkit-scrollbar-track {
    background: #fff;
}
.participation .c_detail::-webkit-scrollbar-button {
    display: none;
}
.participation .c_detail::-webkit-scrollbar-thumb { 
    background: #2970DB;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 8px;
}
.participation .c_detail::-webkit-scrollbar-track,
.participation .c_detail::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.participation .page_sr::-webkit-scrollbar {
    width: 12px;
}
.participation .page_sr::-webkit-scrollbar-track {
    background: #ddd;
}
.participation .page_sr::-webkit-scrollbar-button {
    display: none;
}
.participation .page_sr::-webkit-scrollbar-thumb { 
    background: #2970DB;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 8px;
}
.participation .page_sr::-webkit-scrollbar-track,
.participation .page_sr::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/* 반응형 */
@media screen and (max-width: 1499px) {
}
@media screen and (max-width: 1299px) {
    /* bizRequest, suggestion 입력절차 */
	.bizRequest, .suggestion .process_box ul {width: 80%; margin: 0 auto;}
	.bizRequest, .suggestion .process_box ul li {display: flex; flex-flow: column nowrap;}
}
@media screen and (max-width: 1024px) {
	/* 메인 */
	.main_srch .srch_box {
		gap: 10px;
	    width: 90%;
	}
	.main_srch .srch_box div {
	    padding: 10px 26px;
	}
	.main_srch .srch_txt{
		font-size: 1.8rem;
	}
	.main_srch input[type="text"]::placeholder, .main_srch input[type="password"]::placeholder{
		font-size: 1.8rem;
	}
	.main_srch .srch_btn{
		width: 32px;
	    height: 32px;
	}
	.main_srch .srch_recom{
		gap: 30px;
	}
	.main_srch .recom_list{
		gap: 10px;
	}
	.main-bn-area .tab-box {
	    padding: 16px 16px 40px;
	}
	.split50 {
		flex-direction: column;
	}
	.split50 > div {
	    width: 100%;
	}
	.main_social_area::before {
	    width: 100%;
	    height: 50%;
	}
	.main_social_area::before {
	    background-size: contain;
	}
	.main_relation{
		flex-direction: column;
		gap: 10px;
		padding: 20px 80px;
	}
	.main_relation .relation_list {
	    width: 100%;
	}
	.main_relation .relation_list li {
	    height: 30px;
	}
	
	.policy_calendar .policy_item{
		width: 49%;
	}
	.policy_calendar .policy_item:nth-child(3n){
		border-right: 2px solid #000;
	}
	.policy_calendar .policy_item:nth-child(2n),.policy_calendar .policy_item:last-child{
		border-right: 0;
	}
	.policy_calendar .policy_item:nth-child(4)::after{
		display: none;
	}
	.year_calendar .calendar_wrap{width:1200px;}
	/* bizRequest, suggestion 입력절차 */
    .bizRequest , .suggestion .process_box {
        width: 80%;
        margin: 0 auto;
        display: flex; justify-content: center;
    }
    .bizRequest , .suggestion .process_box ul {width: 100%; justify-content: center;}
    .bizRequest , .suggestion .process_box ul li {
        width: 100%;
        display: inline-block;
        margin: 0 10px;
        font-size: 2.0rem; 
    }
    .bizRequest , .suggestion .process_box ul .num {font-size: 1.8rem;}
    /* 페이지가 넘어갈 때 해당 li와 num이 함께 보이도록 하는 CSS */
    .bizRequest , .suggestion .process_box ul .on{ display: block; }
    .bizRequest , .suggestion .process_box ul .not{ display: none; }

    .participation .tab_content .location_place {
        flex-flow: column nowrap;
    }
    .participation .place_img {
        width: 100%; margin: 0 auto;
    }
    .participation .tab_content .location_place .place_detail {
        padding-left: 0;
    }
}

@media screen and (max-width: 821px) {
    /* 청년정책제언 슬로건 */
    .suggestion .slogan {padding: 0 40px 30px 40px;}
    .suggestion .slogan img {width: 360px;}
    .suggestion .slogan .to_suggest {font-size: 1.6rem;}
    
    /* participation 청년참여공간 */
    .participation_Space {
        flex-flow: column nowrap;
    }
    .participation_Space ul {
        width: 100%; margin: 0 auto;
        padding-right: 0;
    }
    .participation .t_tab {padding: 0;}
    .participation .t_tab .tit {padding: 0;}
    .participation .tab_content {
        width: 100%;
    }
    .participation .c_detail {
    max-height: 150px;
    }
}
@media screen and (max-width: 767px) {	
	.main_srch .srch_recom{
		gap: 10px;
	}
	.main-bn-area {
    	border: none;
    }
    .main-bn-area .tab-box {
	    padding: 6px 0;
	}
	.main-bn-area .swiper-slide {
	    border-radius: 0 0 20px 20px;
	}
	.main-bn-area .inform-bn img {
	    border-radius: 0 0 20px 20px;
	}
	.main_relation{
		padding: 20px;
		width: 92%;
	}
	.main_relation .relation_list li {
	    width: calc(50% - 20px);
	}
	
    .board .input_txt{
        width: calc(100% - 74px);
    }
	.board .condition{
		margin-top: 6px;
	}
	.board .file_down ul {
	    margin-left: 20px;
	}
	.board .file_down p::after{
		left: 90px;
    	height: calc(100% - 45px);
	}
	.data-move {
	    padding: 14px 20px;
	}
	.data-move p:first-child{
		margin-right: 40px;
	}
	.policy_calendar{
		flex-direction: column;
	}
	.policy_calendar .policy_filter{
		width: 100%;
	}
	.policy_calendar .policy_filter .filter_box{
		height: auto;
		gap: 20px;
	}
	.policy_calendar .policy_filter .filter_box>div{
		display: flex;
		justify-content: space-between;
	}
	.policy_calendar .policy_filter .filter_box div>div{
		flex: 1;
	}
	.policy_calendar .policy_list{
		width: 100%;
	}
    .board.calendar .board_title a{
        display: none;
    }
    .sel_row.calendar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .suggestion .txt_box {
        padding: 140px 15px;
    }
}
@media all and (max-width:520px) {
	.main_srch .srch_recom {
    	width: 90%;
    }
	.board .board_title h3, .board .board_info{
		margin-left: 0;
	}
	.board table colgroup col:nth-child(2), .board table colgroup col:nth-child(4), .board table colgroup col:nth-child(5), .board table thead th:nth-child(2), .board table thead th:nth-child(4), .board table thead th:nth-child(5), .board table tbody td:nth-child(2), .board table tbody td:nth-child(4), .board table tbody td:nth-child(5){
		display: none;
	}
	.policy_calendar .policy_filter .filter_box>div{
		flex-direction: column;
	}
	.policy_calendar .policy_filter .filter_box .filter_period{
		margin-bottom: 0;
	}
	.policy_calendar .policy_item{
		width: 100%;
		border-right: 0 !important;
	}
	.policy_calendar .policy_item:nth-child(3)::after,.policy_calendar .policy_item:nth-child(5)::after{
		display:none;
	}
	.data-move p:first-child {
	    margin-right: 20px;
	}
    /* 청년정책제언 슬로건 */
	.suggestion .slogan img {width: 300px;}
}
@media all and (max-width:479px){
	.board .board_title h3{
		font-size: 2.4rem;
		margin-bottom: 6px;
	}
	.board .board_info{
		gap: 10px;
	}
	.board .board_info p::before{
		left: -5px;
	}
	.board .file_down p::after{
		left: 80px;
	}
	.board .file_down a::before{
		width: 16px;
		height: 16px;
	}
}
@media all and (max-width:399px) {
	.board .board_title h3{
		font-size: 18px;
	}
	.board .file_down{
		padding: 12px;
	}
	.board .file_down p::after{
		left: 68px;
		height: calc(100% - 30px);
	}
	.data-move{
		padding: 12px;
	}
	.data-move p:first-child{
		margin-right: 6px;
	}
	.data-move .d-move{
		width: 78%;
	}
    /* 청년정책제언 슬로건 */
	.suggestion .slogan img {width: 230px;}
}